# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:password@localhost"


# Clerk
# Get your keys from https://dashboard.clerk.com
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Updated by assistant
POLAR_ACCESS_TOKEN=
POLAR_WEBHOOK_SECRET=

POLAR_PRODUCT_SMALL=
POLAR_PRODUCT_MEDIUM=
POLAR_PRODUCT_LARGE=

POLAR_PRODUCT_YEARLY_SMALL=
POLAR_PRODUCT_YEARLY_MEDIUM=
POLAR_PRODUCT_YEARLY_LARGE=

POLAR_CREDITS_5000=
POLAR_CREDITS_20000=
POLAR_CREDITS_45000=

# Resend Email Service
RESEND_API_KEY=


EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

# .env
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Node Environment
NODE_ENV=
POLAR_ENV=

AISTUDIOS_API_KEY=
OPENAI_API_KEY=

CLIENT_SECRET=
CLIENT_ID=