AISTUDIOS_API_KEY=AIzaSyAt5-Xh4lxI-MKorSuazzhi9-paGcu3o9s
POLAR_PRODUCT_SMALL=049b1868-eafb-44aa-b22a-212ceb1dd256
POLAR_PRODUCT_MEDIUM=42a96f0a-0894-4165-9ff9-7ecf073aecfc
POLAR_PRODUCT_LARGE=eed0e5b5-46c7-48c3-be63-021204c6ca52
POLAR_PRODUCT_YEARLY_SMALL=556fe0b5-4c47-49d8-b169-ac95ab902d04
POLAR_PRODUCT_YEARLY_MEDIUM=558fa1b1-477f-45d4-b4be-0efb3adde061
POLAR_PRODUCT_YEARLY_LARGE=1f4ae052-98c3-4f23-99bb-3697cf8fccd1
POLAR_CREDITS_5000=b7fed930-681c-4146-a938-4cb84aad05d4
POLAR_CREDITS_20000=2641cd52-2bca-4761-a857-01d608f5d52d
POLAR_CREDITS_45000=6b0c2682-af67-4a52-bca6-d54737951167
POLAR_ACCESS_TOKEN=polar_oat_WdZUlda9F1Xjv9UUHTv85JvXQtW6p0OMxuNik3krQK4
POLAR_WEBHOOK_SECRET=polar_whs_NYNTajmAo7FvX7Owhs5vXuIDcT35zl3pNpwYN4Hxc1i
CLIENT_SECRET=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

CLIENT_ID=686636304540-nqcse2a68c9f2fjnn7a9ns2m3j8ab51q.apps.googleusercontent.com
OPENAI_API_KEY=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
RESEND_API_KEY=re_3BFG1xWq_LUaCHK9doRsiBEhNrsQhYMmr
NODE_ENV=production
DATABASE_URL=postgresql://neondb_owner:npg_59yXPBtndJeQ@ep-ancient-poetry-aia6rkwx-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
POLAR_ENV=production

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bG92ZWQtam9leS0yNC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_e9fgfDn4z2vjw05EumANTGJ9602RbSWBu8irN4ZPxK